<h1>CONTACT US</h1>

<P>Please fill out the fields below to send us a message. For quick questions, or to get the latest news, visit @ colourfulblind on Twitter.</P>

<!-- <form name="myForm" action="demo_form.asp" onsubmit="return validateForm()" method="post">
  <div class="contact">
    <input type="text" name="fname" placeholder="Email Address">
  </div>
  <div class="contact">
    <input type="text" name="fname" placeholder="Comments">
  </div>
  <div class="contact">
    <input type="submit" value="Submit">
  </div>
</form> -->

<%= form_for @message do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit "Submit" %>
  </div>

<% end %>