<!-- <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :credit_card_no %><br />
    <%= f.text_field :credit_card_no, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :credit_card_expiry_date %><br />
    <%= f.text_field :credit_card_expiry_date, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 -->

<h2> Sign up</h2>
 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
   
  <div>
    <%= f.label :first_name %>
    <br>
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div>
    <%= f.label :last_name %>
    br
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :address %>
    br
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.
  label :email %>
    br
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :credit_card_no %>
    br
    <%= f.text_field :credit_card_no %>
  </div>
  <div>
    <%= f.label :credit_card_expiry_date %>
    br
    <%= f.text_field :credit_card_expiry_date %>
  </div>
  <div>
    <%= f.label :password %>
    br
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    br
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit 'Sign up' %>
  </div>
<% end %>  
<%= render 'devise/shared/links' %>
