<h1>MY CART</h1>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Content</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4">Total:</td>
        <td colspan="2"><%= @total %>
          <div class="payment-btn" colspan="1">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Payment:">
            </script> 
          </div>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <% @order.order_sizes.each do |order_size| %>
        <!-- FOR EACH LINE, CREATE A FORM -->
        <tr data-size-id="<%= order_size.id %>">
          <td><%= order_size.size.apparel.name %></td>
          <td><%= order_size.size.apparel.description %></td>
          <td><%= order_size.size.name %></td>
          <td>1</td>
          <td><%= order_size.size.apparel.price %></td>
          <!-- THE BUTTON SHOULD REMOVE THE BUTTON FROM THE DATABASE : DESTROY METHOD IN THE CONTROLLER -->
          <!-- IT SHOULD BE A RUBY BUTTON -->
          <td>
          <%= button_to 'delete', order_path(:id => order_size.id), :method => :delete, :remote => true %></td>
          <!-- <td><button class="btn btn-sm btn-default button">X</button></td> -->
        </tr>
        <!-- CLOSE THE FORM -->
      <% end %> 
    </tbody>

  </table>

  <div>
    <div class="instructions">
      <p>Please leave special instruction below:</p>
      <input type="text" name="instruction" placeholder="Instructions">
    </div>
  </div>

</div>
