<div class="row">
  <h3 class="col-md-8 col-md-offset-2 col-xs-12 bold-text"><%= @apparel.collection.year %> <%= @apparel.collection.name %> Collection</h3>
</div>

<div class="row">
  <div class="col-xs-12 box">
    <div class="row">
      <div class="collection-box">

        <div class="col-md-4 col-sm-6">
        <%= image_tag("apparels/#{@apparel.id}.jpg", :alt => @apparel.name) %>
        </div>

        <div class="col-md-8 col-sm-6 apparel-info">

          <%= form_for Order.new do |f| %>
            <h1 class="apparel-name"><%= @apparel.name %></h1>
            <p class="apparel-price">
              <%= @apparel.currency %> <%= @apparel.price %>
            </p>
            <h2 class="apparel-title">Description</h2>
            <p class="apparel-description">
              <%= @apparel.description %>
            </p>
            <h2 class="apparel-title">Content</h2>
            <p class="apparel-description">  
              <%= @apparel.material %>
            </p>
            <h2 class="apparel-title">Care</h2>
            <p class="apparel-description">  
              <%= @apparel.care %>
            </p>
            <h2 class="apparel-title">Size</h2>
            <p class="apparel-description">  
              <% @apparel.sizes.each do |size| %>
                <div class="size-option">  
                  <!-- <input id="size-<%= size.name %>" type="radio" name="size" value="<%= size.name %>"> -->
                  <!-- change the input line with a rails input with radio button -->
                  <%= radio_button_tag :size_id, size.id %>
                  <!-- <label for="size-<%= size.name %>"><%= size.name %></label> -->
                  <!-- change the label line with a rails label -->
                  <%= label_tag "size_id_#{size.id}", size.name %>
                </div>
              <% end %>
            </p>
            <%= f.text_field :apparel_id, :value => @apparel.id, :class => "hidden" %>
            <%= f.submit "Add to Bag", :class => 'btn btn-info' %>
          <% end %>
          
        </div>


      </div>
    </div>

  </div>
</div>