<div class="row">
  <h3 class="col-md-8 col-md-offset-2 col-xs-12 bold-text"><%= @apparel.collection.year %> <%= @apparel.collection.name %> Collection</h3>
</div>

<div class="row">
  <div class="col-xs-12 box">
    <div class="row">
      <div class="collection-box">

          <div class="col-xs-3">
          <%= image_tag("apparels/#{@apparel.id}.jpg") %>
          </div>

          <div class="col-xs-8 apparels-box">
            <h1 class="apparel-name"><%= @apparel.name %></h1>
            <p class="apparel-price">
              <%= @apparel.currency %> <%= @apparel.price %>
            </p>
            <h2 class="apparel-title">Description</h2>
            <p class="apparel-description">
              <%= @apparel.description %>
            </p>
            <h2 class="apparel-title">Content</h2>
            <p class="apparel-description">  
              <%= @apparel.material %>
            </p>
            <h2 class="apparel-title">Care</h2>
            <p class="apparel-description">  
              <%= @apparel.care %>
            </p>
            <h2 class="apparel-title">Size</h2>
            <p class="apparel-description">  
              <%# @apparel.sizes.each do |size| %>
                <%#= size.name %>
                <%# end %>
              <div class="size-option">  
                <input id="swatch-1-8" type="radio" name="option-1" value="0">
                <label for="swatch-1-8">0</label>
              </div> 
              <div class="size-option">  
                <input id="swatch-1-8" type="radio" name="option-1" value="2">
                <label for="swatch-1-8">2</label>
              </div> 
              <div class="size-option">  
                <input id="swatch-1-8" type="radio" name="option-1" value="4">
                <label for="swatch-1-8">4</label>
              </div> 
              <div class="size-option">  
                <input id="swatch-1-8" type="radio" name="option-1" value="6">
                <label for="swatch-1-8">6</label>
              </div>   
              <div class="size-option">  
                <input id="swatch-1-8" type="radio" name="option-1" value="8">
                <label for="swatch-1-8">8</label> 
              </div> 
              <div class="size-option">  
                <input id="swatch-1-8" type="radio" name="option-1" value="10">
                <label for="swatch-1-8">10</label>
              </div>  
            </p>
            <button class="btn btn-default">
            Add to bag
            </button>
          </div>

      </div>
    </div>

  </div>
</div>