<footer id="footer">
  <div class="container">
    <div class="row bottom-footer">

      <div>
        <div class="col-xs-3">  
          <h4>CUSTOMER CARE</h4>
          <p><%= link_to "FAQ", faq_path, :class => "FAQ" %></p>
          <p><%= link_to "Size Chart", sizechart_path, :class => "size_chart" %></p>
          <p><%= link_to "Return Policy", return_policy_path, :class => "return_policy" %></p>
          <p><%= link_to "Contact Us", contact_path, :class => "contact" %></p>
        </div>

        <div class="col-xs-3">
          <h4>INFORMATION</h4>
          <p><%= link_to "Appointments", new_appointment_path, :class => "appointments" %></p>
          <p><%= link_to "Our Story", ourstory_path, :class => "our-story" %></p>
        </div>

        <div class="col-xs-3">
          <h4>SOCIAL MEDIA</h4>
          <p><%= image_tag("facebook.jpg") %> <a href="https://www.facebook.com/sharer/sharer.php?u=http://colorfulblind.herokuapp.com/">Facebook</a></p>
          <p><%= image_tag("twitter.jpg") %> <a href="https://twitter.com/home?status=http://colorfulblind.herokuapp.com">Twitter</a></p>
          <p><%= image_tag("instagram.jpg") %> <a href="https://instagram.com">Instagram</a></p>
          <p><%= image_tag("pinterest.jpg") %> <a href="https://pinterest.com/pin/create/button/?url=http://colorfulblind.herokuapp.com/&media=http://colorfulblind.herokuapp.com/assets/front_page/dd_6061b-30b63fc62e7a441e50592c6346bb55c2.jpg&description=">Pinterest</a></p>
        </div>

        <div class="col-xs-3">
          <h4>SIGN UP FOR UPDATES</h4>
          <!-- <form class="email-box">
            <input placeholder="Email Address">
            <button class="btn btn-default">
            Subscribe
            </button>
          </form> -->

        <!-- CREATE A RUBY FORM FOR THE SUBSCRIBER 
            CREATED IN THE CONTROLLER (DEF NEW) -->
          <%= form_for Subscriber.new do |f| %>
            <div>
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
            <div>
              <%= f.submit "Subscribe", :class => "btn btn-default" %>
            </div>
          <% end %>

        </div>
      </div>

      <div class="row">
        <p class="col-xs-8 rights">
        2015 COLORFUL BLIND ALL RIGHTS RESERVED
        </p>
        <p class="col-xs-3 terms">
        <%= link_to "TERMS & CONDITIONS", terms_and_conditions_path, :class => 'terms' %> | PRIVICY POLICY
        </p>
      </div>

    </div>
  </div>
</footer>
