<footer id="footer" aria-role="footer">
  <header><h1 class="sr-only">Footer Menu</h1></header>
  <div class="container">
    <nav class="row bottom-footer" aria-role="navigation">
      <div>
        <div class="col-xs-3">  
          <h4 class="footer-header">Customer Care</h4>
          <p><%= link_to "FAQ", faq_path, :class => "FAQ", 'aria-role' => 'link' %></p>
          <p><%= link_to "Size Chart", sizechart_path, :class => "size_chart", 'aria-role' => 'link' %></p>
          <p><%= link_to "Return Policy", return_policy_path, :class => "return_policy", 'aria-role' => 'link' %></p>
          <p><%= link_to "Contact Us", contact_path, :class => "contact", 'aria-role' => 'link' %></p>
        </div>

        <div class="col-xs-3">
          <h4 class="footer-header">Information</h4>
          <p><%= link_to "Appointments", new_appointment_path, :class => "appointments", 'aria-role' => 'link' %></p>
          <p><%= link_to "Our Story", ourstory_path, :class => "our-story", 'aria-role' => 'link' %></p>
        </div>

        <div class="col-xs-3">
          <h4 class="footer-header">Social Media</h4>
          <p>
            <i class="fa fa-facebook-official fa-2x"></i>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://colorfulblind.herokuapp.com/">
              Facebook
            </a>
          </p>

          <p>
            <i class="fa fa-twitter-square fa-2x"></i>
            <a href="https://twitter.com/home?status=Check%20out%20this%20website!%20http://colorfulblind.herokuapp.com/">Twitter</a>
          </p>

          <p>
            <i class="fa fa-instagram fa-2x"></i>
            <a href="https://instagram.com">Instagram</a>
          </p>

          <p>
            <i class="fa fa-pinterest-square fa-2x"></i> 
            <a href="https://pinterest.com/pin/create/button/?url=http://colorfulblind.herokuapp.com/&media=http://colorfulblind.herokuapp.com/assets/front_page/dd_6061b-30b63fc62e7a441e50592c6346bb55c2.jpg&description=">Pinterest</a>
          </p>
        </div>

        <div class="col-xs-3">
          <h4 class="footer-header">Sign Up For Updates</h4>
          <!-- <form class="email-box">
            <input placeholder="Email Address">
            <button class="btn btn-default">
            Subscribe
            </button>
          </form> -->

        <!-- CREATE A RUBY FORM FOR THE SUBSCRIBER 
            CREATED IN THE CONTROLLER (DEF NEW) -->
          <%= form_for Subscriber.new do |f| %>
            <div>
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
            <div>
              <%= f.submit "Subscribe", :class => "btn btn-default" %>
            </div>
          <% end %>

        </div>
      </div>

      <div class="row">
        <p class="col-xs-8 rights">
        2015 Colorful Blind All Rights Reserved
        </p>
        <p class="col-xs-3 terms">
        <%= link_to "Terms & Conditions", terms_and_conditions_path, :class => 'terms', 'aria-role' => 'link' %> | Privacy Policy
        </p>
      </div>

    </nav>
  </div>
</footer>
